@{
  Layout = "_Layout";
}
@using VendorOrderTracker.Models;

  <div class="title-card splash">
    <h2>Vendors</h2>
  </div>
<div class="container">
  <form action="/vendors/new" method="get">
    <button type="submit" class="btn btn-pink">New Vendor</button>
  </form>

  <table>
  <tr>
    <th>Vendor</th>
    <th>Number of Orders</th>
    <th>Production</th>
  </tr>
  
  @foreach (Vendor vendor in Model)
  {
    <tr>
    
      <td><a href="/vendors/@vendor.Name">@vendor.Name</a></td>
      <td>@vendor.Orders.Count</td>
      <td>$@vendor.Production</td>
      
    </tr>
  }
  
  </table>

</div>