@{
  Layout = "_Layout";
}
@using VendorOrderTracker.Models;

<div class="container">
  <h2>Vendors</h2>
  <table>
  <tr>
    <th>Vendor</th>
    <th>Number of Orders</th>
    <th>Production</th>
  </tr>
  
  @foreach (Vendor vendor in Model)
  {
    <tr>
    
      <td><a href="/vendors/@vendor.Name">@vendor.Name</a></td>
      <td>@vendor.Orders.Count</td>
      <td>$@vendor.Production</td>
      
    </tr>
  }
  
  </table>
  
  <h3><a href="/vendors/new">Click Here to Add a Vendor</a></h3>

</div>