@{
  Layout = "_Layout";
}
@using VendorOrderTracker.Models;

<div class="countainer">
  <h1>@Model.Name's Orders</h1>
  <ul>
  @foreach(Order order in Model.Orders)
  {
    <li>@order.Name, @order.Quantity, @order.Cost </li>
  }
  </ul>
  <h3><a href="/orders/@Model.Name">Add Order</a></h3>
  
</div>





