@{
  Layout = "_Layout";
}
<h1>Add an Oder to @Model.Name</h1>
<!-- string description, int quantity, int unitPrice -->
<form action="/vendors/@Model.Name/orders" method="post">
<input type="text" id="name" name="name" placeholder="Enter Order Title">
<textarea rows="4" cols="50" id="description" name="description" placeholder="Enter Order description"></textarea>
<input type="text" name="date" id="date" placeholder="Fulfillment Date">
<input type="number" id="quantity" name="quantity" placeholder="Quantity">
<input type="number" id="unitPrice" name="unitPrice" placeholder="Enter Unit Price">
<button type="submit">Add Order</button>
</form>